<div class="edit_party_form">
  <%= form_for @party do |party| %>
    <p> Party Name </p>
    <%= party.text_field :name, placeholder:'Fellowship of the Ring', maxlength: 50 %>
      <%= hidden_field(:party, :user_id, :value => current_user.id) %>
      <br>
      <button type="submit" class="btn btn-large"><%='Save Changes' %></button>
  <% end %>
</div>
