<div class="edit_party_form container">
  <%= form_for @party do |party| %>
    <p> Party Name </p>
    <%= party.text_field :name, placeholder:'Fellowship of the Ring', maxlength: 50 %>
      <%= hidden_field(:party, :user_id, :value => current_user.id) %>
      <br>
      <%= button_to 'Save Changes', class:"btn btn-large"%>
  <% end %>
</div>
