<% content_for :top_content do %>
  <div class="header-test">

      <div class="homepage">

        <% if current_user === nil %>
        <h1 class="app_title">Let's Change Your Life</h1>
        <div class="container">
          <p>Take the first step towards your new life and sign up today!</p>
          <span>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg red darken-2' %>
          </span>
          <span>
            <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-lg red darken-2'%>
          </span>
        <% end %>
      </div>
      <% if current_user != nil %>
      <h1 class="app_title"></h1>
        <div class="current-user-true">
          <p>LOGGED IN</p>
        </div>
    <% end %>
  </div>
<% end %>
