
@import 'materialize';
@import "materialize/components/color";
@import "materialize/extras/nouislider";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
  *= require_self
 */
 //=require materialize-sprockets
 //= require materialize/extras/nouislider

 // html {
 //   background: url("https://steamuserimages-a.akamaihd.net/ugc/548683405726546870/9D361A9CE499D864C8699604143224FD87E4EFB9/");
 //   background-size: 100%;
 //   background-repeat: no-repeat;
 // }
.header-test {
  width: 100vw;
  height: 100vh;
  background: url("https://steamuserimages-a.akamaihd.net/ugc/548683405726546870/9D361A9CE499D864C8699604143224FD87E4EFB9/") no-repeat;
}
 .home-page {
  display:inline-block;
   position: absolute;
   margin: 0 auto;
   align: center;
   color: white;
 }
 .app_title {
   color: white;
   text-align: center;
   margin: 0 auto;
}
 .container {
   text-align: center
 }
 .sign_up {
   text-align: center;
   width: 33vw;
   margin: 0 auto;
 }
 .log_in {
   text-align: center;
   width: 33vw;
   margin: 0 auto;
 }
 .edit_user {
   text-align: center;
   width: 33vw;
   margin: 0 auto;
 }

h1, .allCharacters, .newCharacter {
  background: transparent;
}
.character_info {
  text-align: left;
  width: 50vw;
  margin: 0 auto;
}
.character-image {
  width: 33vw;
}
#sidenav-overlay{
  z-index: 996
}

.card {
  width:33vw;
}
.card .card-image img {
  // height: 5vh;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.homepage {
  text-align: center;
  color: white;
}
